<%= turbo_frame_tag review do %>
  <div class="border rounded p-2 mb-2 w-1/2">
    <div class="flex justify-between items-center">
      <div>
        <% review.rating.times do %>
          ⭐️
        <% end %>
      </div>

      <div class="flex">
        <%= button_to "edit", edit_user_review_path(review), method: :get, class: "text-blue-500 text-sm mr-1" %>
        <%= button_to "delete", user_review_path(review), method: :delete, class: "text-red-500 text-sm" %>
      </div>
    </div>

    <span class="text-lg"> <%= review.content %> </span>

    <div class="flex flex-row-reverse">
      <small> reviewed by: <%= review.author %> </small>
    </div>
  </div>
<% end %>
